
@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: #fff;
    }

    div {
        display: block;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .tintuc {
        display: block;
        width: 1000px;
        margin-left: 270px;
        margin-top: 80px;
        box-shadow: 5px 10px 20px 1px;
        padding-bottom:30px;
    }

    .chu {
        margin-left: 20px;
        margin-right: 20px;
    }

    .btn {
        padding: 10px 20px;
        background-color: #fb8d17;
        color: #f1f1f1;
        border-radius: 25px 25px 25px 25px;
        transition: .2s;
    }

        .btn:hover, .btn:focus {
            border: 1px solid #333;
            background-color: #fff;
            color: #000;
        }
</style>
<body>
    <div class="tintuc">
        <br />
        <h2 class="chu" style="margin-bottom: 30px;color:black">MUA SẢN PHẨM UY TÍN, CHẤT LƯỢNG TẠI FLORENCE!</h2>
        <div class="chu">
            <p><strong>Cần mua các sản phẩm điện thoại từ Florence, alo là mọi thứ xong ngay!</strong></p>
            <figure class="kg-image-card">
                <img src="https://cdn1.hoanghamobile.com/tin-tuc/wp-content/uploads/2018/04/30.04-Fb-3png.png" class="kg-image" style="display: block; width: 100%; margin: 14px auto;">
            </figure>
            <p><strong><a href="#">ĐẶT HÀNG NGAY</a></strong></p>
            <p>Từ ngày 22/12 - 30/12, Florence khuyến mãi bạn <strong>200K cho đơn hàng 5.000.000đ </strong>khi nhập mã <strong>khuyenmai01</strong> để bạn thỏa thích lựa chọn sản phẩm vừa ý nhé!</p><p>-----------<br>
            <strong>Đặt hàng ngay:</strong>
            <br>
            <em>👉Website: <a href="#">www.florence.com</a></em>
            <br>
            <em>👉Số điện thoại: 18006936</em></p>
            <p><em>- Giảm 200K cho đơn hàng 5.000.000đ
                <br>- Áp dụng cho dịch vụ delivery (Giao tận nơi)
                <br>- Không áp dụng cho các chương trình khuyến mãi song song
                <br>- Ưu đãi chỉ áp dụng cho đơn hàng được giao từ 22/11 đến hết ngày 30/11/2021
                <br>- Số lượng ưu đãi có hạn</em></p>
            </div>
    </div>

</body>